@font-face {
    font-family: 'Ramche';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.bottombg {
    background-image: url(/images/mario-bg.jpg);
    background-size: 80%;
    background-repeat: repeat-x;
    background-position: center bottom;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -2;
}

.topbarbg {
    background-image: url(/images/headerbg.png);
    background-size: 130px;
    background-repeat: repeat-x;
    background-position: center top;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.topbg {
    background-image: url(/images/topbg.jpg);
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}

.barbg {
    background-image: url(/images/bar\ bg.png);
    background-position: center bottom;
    z-index: 10;
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-size: 80%;
    background-repeat: repeat-x;
}

header h1 {
    background-image: url(/images/header-h1-bg.webp);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

header h1 img {
    width: 300px;
}

.character h2 {
    padding: 10px;
    margin-top: 8%;
}

.cloud {
    z-index: -1;
    position: fixed;
}

.cloud1 {
    position: fixed;
    top: 18%;
    left: 55%;
    animation: 1.8s icon-Ani 1.5s infinite linear alternate;
}

.cloud2 {
    position: fixed;
    top: 30%;
    left: 20%;
    animation: 1.2s icon-Ani 1.5s infinite linear alternate;
}

.cloud3 {
    position: fixed;
    top: 50%;
    right: -5%;
    animation: 1.5s icon-Ani 1.5s infinite linear alternate;
}


figcaption {
    padding: 18px 5px;
    position: absolute;
    bottom: 0;
    height: 230px;
    overflow: hidden;
}

figcaption span {
    font-family: 'Ramche';
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 15px;
}

figure {
    text-align: center;
}


article ul li:nth-child(1) figcaption {
    background-image: url(/images/mariobg.gif);
}

article ul li:nth-child(2) figcaption {
    background-image: url(/images/luigisbg.gif);
}

article ul li:nth-child(3) figcaption {
    background-image: url(/images/peachbg.gif);
}

article ul li:nth-child(4) figcaption {
    background-image: url(/images/kinopiobg.gif);
}

article ul li:nth-child(5) figcaption {
    background-image: url(/images/koopabg.gif);
}

article ul li:nth-child(6) figcaption {
    background-image: url(/images/yoshibg.gif);
}

article ul li:nth-child(7) figcaption {
    background-image: url(/images/daisybg.gif);
}

article ul li:nth-child(8) figcaption {
    background-image: url(/images/kongbg.gif);
}

article ul li:nth-child(9) figcaption {
    background-image: url(/images/boobg.gif);
}

article ul li:nth-child(10) figcaption {
    background-image: url(/images/wariobg.gif);
}

article ul li {
    color: #fff;
    height: 600px;
    position: relative;

}

article ul {
    display: grid;
    gap: 1px;
}

article img {
    height: 300px;
    margin-top: 20%;
}

li.menu {
    position: relative;

}

.menu>a {
    padding: 10px;
}

.nav-bg {
    position: absolute;
    left: 0%;
    top: -940%;
    width: 100%;
}

nav ul li {
    width: 33%;
    height: 30px;
    text-align: center;
    margin: 20px 0;
}

nav ul li:hover {
    font-weight: bold;
    color: #fff;
}

nav ul li:hover .nav-bg {
    display: block;
}

.nav-bg {
    display: none;
    position: absolute;
    animation: bounce-top 1.5s infinite;
}

@keyframes bounce-top {
    0% {
        transform: translateY(-35px);
        animation-timing-function: ease-in;
        opacity: 1
    }

    24% {
        opacity: 1
    }

    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in
    }

    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in
    }

    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in
    }

    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in
    }

    25%,
    55%,
    75%,
    87% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
}

nav ul li a {
    display: block;
}

nav {
    font-family: 'Ramche';
    font-size: 1.5rem;
    z-index: 90;
}

article {
    background-color: rgba(64, 71, 99, 0.5);
    backdrop-filter: blur(3px);

}
.summary i{}
article::after {
    content: '';
    display: block;
}

.summary {
    margin: 30px;
}

footer p {
    padding: 30px;
}

@keyframes icon-Ani {
    0% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(30%);

    }
}



/* mobile */
@media(max-width: 600px) {
    header {
        display: flex;
        flex-direction: column-reverse;
    }

    article ul li {
        width: 100%;
    }

    article ul {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        position: absolute;
        width: 100%;
    }

    h1 {
        background: none;
        width: 100%;
        height: 67px;
        text-align: center;
    }

    main {
        margin-top: 250px;
    }

    nav ul {
        width: 100%;
        display: flex;
        margin-top: 0%;
    }

    .video {
        width: 100%;
        margin: auto;


    }

    .video figure {
        display: flex;
        justify-content: center;
    }

    video {
        width: 95%;
    }

    .intro h2 {
        width: 100%;
        margin-top: 180px;
    }

    .intro h2 img {
        width:
            100%;
        padding: 50px;
    }

    .summary {
        line-height: 2rem;
        font-size: 1.3rem;
    }

    footer {
        height: 320px;
    }
}

/* tablet */
@media(min-width: 601px) {
    .wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
    }

    header {
        position: fixed;
    }

    main {
        grid-column: 2/5;
    }

    nav ul li {
        width: 100%;
    }


    .video {
        width: 100%;
        margin: auto;


    }

    .video figure {
        display: flex;
        justify-content: center;
    }

    video {
        width: 85%;
    }

    article ul li {
        width: 100%;
        height: 600px;
    }

    article ul {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        width: 100%;
        height: 300px;
        max-width: 1018px;
    }

    .intro h2 {
        width: 100%;
        margin-top: 180px;
    }

    .intro h2 img {
        width:
            100%;
        padding: 80px;
    }

    .summary {
        line-height: 2.5rem;
        font-size: 1.3rem;
    }

    footer {
        height: 350px;
    }

}


/* pc */
@media(min-width: 1300px) {
    header {
        grid-column: 2/5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: static;
    }

    .logo-wrap {
        position: fixed;
        top: 10%;
        left: 0%;
        width: 100%;
    }

    h1 {
        position: fixed;
        grid-column: 1/2;
    }

    nav {
        position: fixed;
        grid-column: 2/5;
    }

    nav ul {
        display: flex;
        margin-top: 5%;
    }

    nav ul li {
        flex: 1;
        width: 33.333%;
    }

    .video {
        width: 100%;

    }

    .video figure {
        display: flex;
        justify-content: center;
    }

    video {
        width: 85%;
    }


    article ul li {
        width: 100%;
        height: 600px;

    }

    article ul {
        grid-template-columns: repeat(5, 1fr);
    }

    .intro h2 {
        width: 80%;
        margin: 50px auto;
    }

    .intro h2 img {
        width:
            100%;
        padding: 100px;
    }


    .summary {
        line-height: 3.5rem;
        font-size: 1.5rem;
    }

}