@import url(./reset.css);

$font-size-h2: 96px;
$font-style: normal;
$font-family: "Alumni Sans", serif;
$font-weight: normal;

$main-color-400: #64EDCC;
$main-color-500: #35ffd0;
$main-color-600: #00ffc3;

$sub-color-400: #3CC2A2;
$sub-color-500: #2aa88a;
$sub-color-600: #327163;

$neutral-color-400: #dbdbdb;
$neutral-color-500: #a1a1a1;
$neutral-color-600: #181818;

$height-50vh: 50vh;
$height-100vh: 100vh;



@mixin font-styles($size, $family) {
    font-size: $size;
    font-family: $family;
    font-style: $font-style;
}

h2 {
    @include font-styles($font-size-h2, $font-family);
    color: $main-color-600;
}

.flex {
    display: flex;
}


#insight {
    .review {
        li {
            display: flex;
            padding: 25px;
            justify-content: space-between;
            background-color: #4d5e5a77;

            span {
                font-size: 25px;
            }
        }
    }
}



@media(max-width: 700px) {
    section {
        &#title {
            height: $height-100vh;
            background-color: $neutral-color-600;
            width: 100%;
            color: #fff;
            position: relative;

            >img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 600px;
            }

            .desc-box {
                height: 100%;
                width: 800px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px;

                p {
                    font-weight: bold;
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    height: 70%;


                    h1 {
                        font-size: 100px;
                        font-family: $font-family;
                    }

                    >div {
                        p {
                            margin-bottom: 30px;
                        }

                        .date-box {
                            width: 280px;

                            ul {
                                justify-content: space-between;
                            }
                        }
                    }
                }

            }
        }

        &#topTxt {
            height: 25vh;
            display: flex;
            justify-content: center;
            background-color: $neutral-color-600;

            p {
                width: 90%;
                margin: auto;
                color: #1C3A33;
                font-size: 32px;
                font-family: $font-family;
                font-weight: bold;
                letter-spacing: 1rem;
            }
        }

        &#overview {
            width: 100%;
            height: 75vh;
            background-image: url(./images/overview.png);
            background-position: center center;
            background-size: cover;
            position: relative;
            background-repeat: no-repeat;
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: rgba(0, 0, 0, 0.302);
            }

            .inner {
                width: 90%;
                margin: auto;
                position: relative;
                z-index: 9;

                h2 {
                    font-size: 55px;
                    margin-bottom: 60px;
                }

                h3 {
                    font-weight: 300;
                    font-size: 1.3rem;
                    color: $main-color-600;
                    margin-bottom: 50px;
                }

                p {
                    font-weight: 300;
                    line-height: 30px;
                    font-size: 14px;
                }
            }

        }

        &#background {
            width: 100%;
            height: 150vh;
            background-color: $neutral-color-600;
            display: flex;
            align-items: center;

            .inner {
                width: 90%;
                margin: auto;
                color: #fff;

                h2 {
                    font-size: 55px;
                }

                >p {
                    font-weight: 300;
                }

                .background-chart {
                    width: 100%;
                    flex-wrap: wrap;
                    flex-direction: column;
                    margin-top: 60px;
                    justify-content: space-between;
                    gap: 20px;

                    .box {
                        width: 100%;
                        height: 500px;
                        background-color: #272727;
                        border-radius: 25px;
                        padding: 35px;
                        display: flex;
                        flex-direction: column;

                        img {
                            width: 100%;
                            margin: auto;
                        }

                        p {
                            font-size: 15px;
                            line-height: 25px;
                            font-weight: 300;
                        }

                        .box-title {
                            text-align: center;
                            font-size: 20px;
                        }

                    }
                }
            }
        }

        &#research {
            background-color: $neutral-color-600;
            height: 100vh;
            display: flex;
            align-items: center;

            .inner {
                width: 90%;
                margin: auto;
                color: #fff;

                >p {
                    font-weight: 300;
                }

                >h2 {
                    font-size: 55px;
                }

                .research-chart {
                    width: 100%;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 60px;
                    gap: 20px;

                    .box {
                        width: 100%;
                        height: 600px;
                        border: 1px solid $main-color-500;
                        background-color: #272727;
                        border-radius: 25px;
                        padding: 35px;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        z-index: 10;

                        img {
                            width: 100%;
                            margin: auto;
                        }

                        p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 300;
                        }

                        .box-title {
                            text-align: center;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        &#insight {
            background-color: $sub-color-600;
            height: 140vh;
            position: relative;
            margin-top: -350px;

            .inner {
                width: 1400px;
                min-width: 1000px;
                color: #fff;
                height: 90vh;
                border: 1px solid #000;
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);

                h2 {
                    text-align: center;
                }

                .insight-list {
                    justify-content: space-between;

                    >li {
                        background-color: #272727;
                        width: 300px;
                        height: 350px;
                        border-radius: 10px;
                        text-align: center;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: center;

                        >p {
                            font-size: 25px;
                            margin-bottom: 50px;
                        }

                        >ul {
                            li {
                                list-style: disc;
                                text-align: left;
                                padding: 20px;
                                border: 1px solid #000;

                            }
                        }
                    }
                }
            }
        }
    }

}

@media(min-width: 701px) {
    section {
        &#title {
            height: $height-100vh;
            background-color: $neutral-color-600;
            width: 100%;
            color: #fff;
            position: relative;

            >img {
                position: absolute;
                bottom: 0;
                right: 0;
                min-width: 800px;
            }

            .desc-box {
                height: 100%;
                width: 800px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 100px;

                p {
                    font-weight: bold;
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    height: 70%;
                    justify-content: space-between;

                    h1 {
                        font-size: 220px;
                        font-family: $font-family;
                    }

                    >div {
                        p {
                            margin-bottom: 30px;
                        }

                        .date-box {
                            width: 280px;

                            ul {
                                justify-content: space-between;
                            }
                        }
                    }
                }

            }
        }

        &#topTxt {
            height: 30vh;
            display: flex;
            justify-content: center;
            background-color: $neutral-color-600;

            p {
                margin: auto;
                color: #1C3A33;
                font-size: 80px;
                font-family: $font-family;
                font-weight: bold;
                text-align: center;
                letter-spacing: 1.1rem;
            }
        }

        &#overview {
            width: 100%;
            height: 70vh;
            background-image: url(./images/overview.png);
            background-position: center;
            background-size: cover;
            position: relative;
            background-repeat: no-repeat;
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: rgba(0, 0, 0, 0.302);
            }

            .inner {
                width: 90%;
                min-width: 800px;
                margin: auto;
                position: relative;
                z-index: 9;

                h2 {
                    margin-bottom: 60px;
                }

                h3 {
                    font-weight: 300;
                    font-size: 2rem;
                    color: $main-color-600;
                    margin-bottom: 50px;
                }

                p {
                    font-weight: 300;
                    line-height: 30px;
                    font-size: 18px;
                }
            }

        }

        &#background {
            width: 100%;
            height: 100vh;
            background-color: $neutral-color-600;
            display: flex;
            align-items: center;

            .inner {
                width: 90%;
                margin: auto;
                color: #fff;

                >p {
                    font-weight: 300;
                }

                .background-chart {
                    width: 100%;
                    flex-wrap: wrap;
                    margin-top: 60px;
                    justify-content: space-between;

                    .box {
                        width: 49%;
                        height: 600px;
                        background-color: #272727;
                        border-radius: 25px;
                        padding: 35px;
                        display: flex;
                        flex-direction: column;

                        img {
                            width: 90%;
                            margin: auto;
                        }

                        p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 300;
                        }

                        .box-title {
                            text-align: center;
                            font-size: 24px;
                        }

                        &.box2 {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        &#research {
            background-color: $neutral-color-600;
            height: 100vh;
            display: flex;
            align-items: center;

            .inner {
                width: 90%;
                margin: auto;
                color: #fff;

                >p {
                    font-weight: 300;
                }

                .research-chart {
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 60px;

                    .box {
                        width: 49%;
                        height: 600px;
                        border: 1px solid $main-color-500;
                        background-color: #272727;
                        border-radius: 25px;
                        padding: 35px;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        z-index: 10;

                        img {
                            width: 80%;
                            margin: auto;
                        }

                        p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 300;
                        }

                        .box-title {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        &#insight {
            background-color: $sub-color-600;
            height: 160vh;
            position: relative;
            overflow: hidden;
            margin-top: -350px;

            .inner {
                width: 75%;
                min-width: 1000px;
                color: #fff;
                height: 110vh;
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);

                h2 {
                    text-align: center;
                    margin-bottom: 50px;
                }

                .insight-list {
                    width: 95%;
                    margin: auto;
                    justify-content: space-between;

                    >li {
                        background-color: #272727;
                        width: 300px;
                        height: 300px;
                        border-radius: 10px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        >p {
                            font-size: 22px;
                            margin-bottom: 15px;
                        }

                        >ul {
                            padding: 0 0 0 40px;

                            li {
                                list-style: disc;
                                text-align: left;
                                padding: 10px 5px;
                            }
                        }
                    }
                }
             
            }
            .review-box{
                position:absolute;
                width: 100%;
                bottom:40px;
                left: 40%;

                transform: translateX(-50%);
                .review {
                    margin-top: 50px;
                    gap: 50px;
                    color: #fff;
    
                    li {
                        border: 1px solid $main-color-500;
                        width: 400px;
                        min-width: 300px;
                        font-size: 14px;
                        border-radius: 15px;
                    }
    
                    &.review1 {
                        margin-left: 250px;
                    }
                    &.review3 {
                        margin-left: 400px;
                    }
                }
            }
        }
    }

}


@media(min-width: 1400px) {
    section {
        &#title {
            height: $height-100vh;
            background-color: $neutral-color-600;
            width: 100%;
            color: #fff;
            position: relative;

            >img {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 850px;
                min-width: 1350px;
            }

            .desc-box {
                height: 100%;
                width: 800px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 100px;

                p {
                    font-weight: bold;
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    height: 70%;
                    justify-content: space-between;

                    h1 {
                        font-size: 220px;
                        font-family: $font-family;
                    }

                    >div {
                        p {
                            margin-bottom: 30px;
                        }

                        .date-box {
                            width: 280px;

                            ul {
                                justify-content: space-between;
                            }
                        }
                    }
                }

            }
        }

        &#topTxt {
            height: 20vh;
            display: flex;
            justify-content: center;
            background-color: $neutral-color-600;

            p {
                margin: auto;
                color: #1C3A33;
                font-size: 106px;
                font-family: $font-family;
                font-weight: bold;
                letter-spacing: 1.1rem;
            }
        }

        &#overview {
            width: 100%;
            height: 80vh;
            background-image: url(./images/overview.png);
            background-position: center;
            background-size: cover;
            position: relative;
            background-repeat: no-repeat;
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: rgba(0, 0, 0, 0.302);
            }

            .inner {
                width: 1000px;
                min-width: 800px;
                margin: auto;
                position: relative;
                z-index: 9;

                h2 {
                    margin-bottom: 60px;
                }

                h3 {
                    font-weight: 300;
                    font-size: 2rem;
                    color: $main-color-600;
                    margin-bottom: 50px;
                }

                p {
                    font-weight: 300;
                    line-height: 30px;
                    font-size: 18px;
                }
            }

        }

        &#background {
            width: 100%;
            height: 100vh;
            background-color: $neutral-color-600;
            display: flex;
            align-items: center;

            .inner {
                width: 75%;
                min-width: 1000px;
                margin: auto;
                color: #fff;

                >p {
                    font-weight: 300;
                }

                .background-chart {
                    width: 100%;
                    flex-wrap: wrap;
                    margin-top: 60px;
                    justify-content: space-between;

                    .box {
                        width: 49%;
                        height: 600px;
                        background-color: #272727;
                        border-radius: 25px;
                        padding: 35px;
                        display: flex;
                        flex-direction: column;

                        img {
                            width: 80%;
                            margin: auto;
                        }

                        p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 300;
                            margin-left: 50px;
                        }

                        .box-title {
                            text-align: center;
                            font-size: 24px;
                        }

                        &.box2 {
                            img {
                                width: 95%;
                            }
                        }
                    }
                }
            }
        }

        &#research {
            background-color: $neutral-color-600;
            height: 100vh;
            display: flex;
            align-items: center;

            .inner {
                width: 75%;
                min-width: 1000px;
                margin: auto;
                color: #fff;

                >p {
                    font-weight: 300;
                }

                .research-chart {
                    width: 100%;

                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 60px;

                    .box {
                        width: 49%;
                        height: 600px;
                        border: 1px solid $main-color-500;
                        background-color: #272727;
                        border-radius: 25px;
                        padding: 35px;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        z-index: 10;

                        img {
                            width: 80%;
                            margin: auto;
                        }

                        p {
                            font-size: 15px;
                            line-height: 30px;
                            font-weight: 300;
                            margin-left: 50px;
                        }

                        .box-title {
                            text-align: center;
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        &#insight {
            background-color: $sub-color-600;
            height: 160vh;
            position: relative;
            margin-top: -350px;

            .inner {
                width: 75%;
                min-width: 1000px;
                color: #fff;
                height: 110vh;
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);

                h2 {
                    text-align: center;
                    margin-bottom: 50px;
                }

                .insight-list {
                    width: 95%;
                    margin: auto;
                    justify-content: space-between;

                    >li {
                        background-color: #272727;
                        width: 300px;
                        height: 300px;
                        border-radius: 10px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        >p {
                            font-size: 22px;
                            margin-bottom: 15px;
                        }

                        >ul {
                            padding: 0 0 0 40px;

                            li {
                                list-style: disc;
                                text-align: left;
                                padding: 10px 5px;
                            }
                        }
                    }
                }
             
            }
            .review-box{
                position:absolute;
                width: 90%;
                bottom:40px;
                left: 50%;
                transform: translateX(-50%);
                .review {
                    margin-top: 50px;
                    gap: 50px;
                    color: #fff;
    
                    li {
                        border: 1px solid $main-color-500;
                        width: 400px;
                        border-radius: 15px;
                    }
    
                    &.review1 {
                        margin-left: 250px;
                    }
                    &.review3 {
                        margin-left: 400px;
                    }
                }
            }
           
        }
    }

}