:root {
    --main-color: #e4802f;
}

body {
    width: 100%;
    height: 100%;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    margin: 4px 0;
}

.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.just-sb {
    justify-content: space-between;
}

section {
    position: relative;
}


button {
    border-style: none;
    padding: 10px;
    background-color: transparent
}

button a {
    border-style: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
}

button:hover>a {
    color: var(--main-color);
    border: none;
}

nav a {
    display: block;
    transition: 0.3s ease;
}

li.main-menu:hover>a {
    color: var(--main-color);
    font-weight: bold;
}

header {
    width: 100%;
    padding: 40px;
    height: 130px;
    position: fixed;
    z-index: 99;
    color: #fff;

}

header h1 {
    width: 10%;

}

.main-menu.on {
    color: var(--main-color);
}

header h1 img {
    width: 100%;
}

.btn .menu-bar {
    height: 130px;
    width: 3px;
    background-color: #ffffff;
}

/* -------sesct1----- */
.sect1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.sect1 figure.video video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.video::after {
    content: "";
    width: 100%;
    height: 120vh;
    display: block;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .6);
}

.sect1-contents {
    z-index: 10;
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
}

.sect1-contents h2 {
    font-weight: normal;
    margin-bottom: 50px;
}

/* -----sect1-5------ */
.sect1-5 {
    height: 70vh;
    width: 95%;
    margin: auto;
    text-align: right;
    color: #000;
}

/* -----sect2---- */
.sect2 {
    height: 100vh;
    width: 100%;

}

.slide-container {
    overflow: hidden;
}

.slide-wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    position: absolute;
}

.slide figure {
    width: 90%;
    position: relative;
    z-index: 50;
}



.slide1 {
    background-image: url(../images/sect2-slide1.jpg);
    background-position: center;
    background-size: cover;
}

.slide2 {
    background-image: url(../images/sect2-slide2.jpg);
    background-position: center;
    background-size: cover;
}

.slide3 {
    background-image: url(../images/sect2-slide3.jpg);
    background-position: center;
    background-size: cover;
}

.slide1 {
    background-image: url(../images/sect2-slide1.jpg);
    background-position: center;
    background-size: cover;
}

.slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(64, 66, 68, 0.6);
    backdrop-filter: blur(11px);
}

.sect2-t {
    z-index: 999;
}

.sect2 .donate {
    animation-name: donate-ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes donate-ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dots li {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    font-size: 0;
    cursor: pointer;
}

.dots ul {
    gap: 10px;
}

.dots li.on {
    background-color: var(--main-color);
}


/* ---sect3------ */
.sect3 {
    background-image: linear-gradient(to right bottom, #ff8c19, #ff9f11, #ffb10b, #ffc40e, #ffd61a);
    height: 150vh;
    z-index: -10;
    background-position: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.sect3 figure {
    width: 90%;
    margin: auto;
    height: 100%;
    position: relative;

}

.sect3 figure img {
    width: 40%;
    position: relative;
}

.sect3 figure img::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}

.sect3 figure img:nth-child(2) {
    float: right;
    margin-top: 10%;
}

.sect3 figure img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sect4 {
    position: relative;
    height: 120vh;
    overflow: hidden;
}

.sect4 figure.video video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sect4-contents {
    width: 50%;
    text-align: right;
    z-index: 10;
    position: absolute;
    top: 15%;
    right: 10%;
    color: #fff;
}

.sect4-contents h2 {
    font-weight: normal;
    margin-bottom: 50px;
}


.sect4 .button {
    width: 30%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;

}

.sect4-stats {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    color: #fff;
}

.sect4-stats ul h3 {
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--main-color);
}

.sect4-stats p {
    font-size: 4rem;
}

/* -------------------sect5-------------------- */
.sect5 {
    height: 100vh;
    background-image: linear-gradient(to left top, #dc7f20, #e8941c, #f2a918, #fabf17, #ffd61a);
    position: relative;
}

.sect5-wrapper li {
    z-index: 999;
}

.sect5bgtext {
    z-index: 1;
}


.sect5bgtext li:nth-child(1) {
    opacity: 70%;
}

.sect5bgtext li:nth-child(2) {
    opacity: 50%;
}

.sect5bgtext li:nth-child(3) {
    opacity: 30%;
}

.sect5bgtext li:nth-child(4) {
    opacity: 15%;
}

/* ---------------------------footer----------------- */
footer {
    height: 75vh;
    background-color: #dc7f20;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    color: #fff;
    position: relative;
}

footer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}

.footer-contents {
    position: relative;
    z-index: 999;
    width: 90%;
    margin: auto;
}

footer .copy {
    position: relative;
    z-index: 999;
}

/* -------------모바일-------------- */
@media screen and (max-width:576px) {
    body {
        padding: .75rem;
    }

    nav {
        display: none;
    }

    button {
        font-size: 1.2rem;
        white-space: nowrap;
    }

    .sect1 {
        position: relative;
        height: 100vh;
    }

    .sect1-contents {
        width: 80%;
        position: absolute;
        top: 60%;
        left: 10%;
    }

    .sect1-contents h2 {
        font-size: 3rem;
    }

    .sect1 figure.video video {
        min-width: 100%;

        min-height: 100%;
        position: absolute;
    }

    /* .sect1 .video::after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        z-index: 9;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
    } */

    .sect1-contents p {
        font-size: 1.2rem;
    }

    .sect1-contents p,
    .sect2-contents p {
        margin: 20px 0;
        font-size: 1.1rem;
    }

    .btn {
        display: none;
    }

    i {
        margin-left: 20px;
    }

    .sect1-5 {
        position: relative;
    }

    .sect1-5contents {
        position: absolute;
        right: 10%;
        bottom: 20%;
        font-size: 1.5rem;
        line-height: 4rem;
        text-align: left;
    }

    .sect1-5 span {
        position: absolute;
        left: 5%;
        top: 10%;
        font-size: 3rem;
        font-weight: bold;
    }



    .sect2-t {
        position: absolute;
        top: 68%;
        left: -34%;
        color: #fff;
        z-index: 99;
        transform: rotate(-90deg);
        font-size: 1.3rem;
    }

    figure {

        margin: 10% auto;
    }

    figure img {
        width: 100%;
    }

    .sect2 figcaption {
        width: 100%;
        height: 300px;
        background-color: #000000dd;
        color: #ffffff;
        padding: 20px;
        margin-top: 20px;
    }

    .sect2 figcaption p {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 20%;
    }

    .sect2 figcaption button {
        margin-top: 8%;
    }

    .donate {
        position: absolute;
        right: 2%;
        bottom: -5%;
        z-index: 99;
    }


    .sect3 {
        position: relative;
    }

    .sect3-contents {
        position: absolute;
        top: 10%;
        left: 6%;
        text-align: right;
    }

    .sect3-contents p {
        margin: 1.3rem 0;
        font-size: 1.5rem;
    }

    .sect3-contents span {
        font-size: 4rem;
        padding: 0 20px;
    }

    .sect3 {
        position: relative;
    }


    .sect3 p:nth-child(2) {
        margin: 1.5rem 0;
        font-size: 2rem;
        position: fixed;
        top: 26%;
        left: 8%;

    }

    .sect3 p:nth-child(3) {
        margin: 1.5rem 0;
        font-size: 2rem;
        position: fixed;
        top: 33%;
        left: 11%;

    }

    .sect3 p:nth-child(4) {
        margin: 1.5rem 0;
        font-size: 1.8rem;
        position: fixed;
        top: 52%;
        left: 8%;

    }

    .sect3 span {
        font-size: 4.8rem;
        padding: 0 20px;
    }

    .sect3 figure img {
        width: 75%;

    }

    .sect3 figure img:nth-child(2) {
        float: right;
        margin-top: 40%;
    }

    .sect4 figure.video video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
    }

    .sect4-contents {
        width: 70%;
        position: absolute;
        top: 20%;
        right: 10%;

    }

    .sect4-contents h2 {
        font-weight: normal;
        margin-bottom: 30px;
        font-size: 1.2rem;
    }

    .sect4 {
        position: relative;
    }

    .sect4-stats {
        position: absolute;
        top: 70%;
        width: 80%;
        height: 55%;

    }

    .sect4-stats li {
        padding: 20px;
        display: block;
    }

    .sect4-stats ul li p {
        font-size: 2.5rem;
    }

    .sect4-stats li:nth-child(2) {
        text-align: center;
    }

    .sect4-stats li:nth-child(3) {
        text-align: right;
    }

    .sect4 .button {
        width: 70%;
    }

    .sect5bgtext {
        position: absolute;
        font-size: 5.5rem;
        color: #fff;
        left: 0;
        bottom: -1%;
    }

    .sect5-wrapper {
        width: 500%;
    }

    .sect5-wrapper ul {
        display: flex;
        margin-top: 10px;
        gap: 5px;
    }

    .sect5-wrapper ul li img {
        width: 100%;
    }


    .sect5 {
        position: relative;
        overflow: hidden;
    }

    .sect5-contents {
        position: absolute;
        right: 3%;
        bottom: 10%;
        color: #fff;
        z-index: 99;
        text-align: right;
    }

    .sect5-contents h2 {
        margin-bottom: 30px;
        font-size: 2rem;
        font-weight: normal;
    }

    .footer-menu {
        font-size: 1.3rem;
        position: absolute;
        bottom: 5%;
    }

    .footer-menu li {
        margin: 15% 0;
    }

    .footer-contents {
        justify-content: space-between;
        height: 80%;
    }

    .footer-contents .sns ul {
        position: absolute;
        right: 0;
        top: 10%;
        width: 17%;
        justify-content: space-between;
    }

    .sns li {
        margin-bottom: 30px;
    }

    .footer-contents .mail {
        position: absolute;
        right: 0;
        bottom: 10%;
        font-size: 1rem;
    }

    .footer-contents .mail li {
        margin-top: 10px;
    }

    .footer-contents .sns ul img {
        width: 50%;
        margin: auto;
    }

    footer .copy {
        height: 20%;
        border-top: 2px solid #ffffff;
        width: 90%;
        margin: auto;
        color: #fff;
    }

    footer .copy ul li {
        padding: 10px;
    }


}


/* ------------------테블릿------------------ */
@media screen and (min-width:577px) {

    nav {
        display: none;
    }

    button {
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .sect1 {
        position: relative;
        height: 100vh;
    }

    .sect1-contents h2 {
        font-size: 4rem;
    }

    .sect1-contents p,
    .sect2-contents p {
        margin: 50px 0;
        font-size: 1.3rem;
    }



    i {
        margin-left: 20px;
    }

    .sect1-5 {
        position: relative;
    }

    .sect1-5contents {
        position: absolute;
        right: 10%;
        bottom: 20%;
        font-size: 5vw;
        line-height: 4rem;
    }

    .sect1-5 span {
        position: absolute;
        left: 5%;
        top: 10%;
        font-size: 3.5rem;
        font-weight: bold;
    }

    .slide figure img {
        width: 800px;
    }

    .sect2-t {
        position: absolute;
        top: 68%;
        left: -17%;
        color: #fff;
        z-index: 99;
        transform: rotate(-90deg);
        font-size: 1.3rem;
    }

    .sect2 figcaption {
        position: absolute;
        width: 500px;
        height: 400px;
        background-color: #000000dd;
        color: #ffffff;
        bottom: -38%;
        right: -9%;
        padding: 5%;
    }

    .sect2 figcaption p {
        font-size: 1.5rem;
        line-height: 2.3rem;
        margin-top: 20%;
    }

    .sect2 figcaption button {
        margin-top: 30px;
    }

    .donate {
        position: absolute;
        left: 2%;
        bottom: -5%;
        z-index: 99;
    }


    .sect3 {
        position: relative;
    }

    .sect3 figure img {
        width: 55%;

    }

    .sect3 figure img:nth-child(2) {
        float: right;
        margin-top: 20%;
    }



    .sect3 p:nth-child(2) {
        margin: 2rem 0;
        font-size: 3rem;
        position: fixed;
        top: 26%;
        left: 7%;

    }

    .sect3 p:nth-child(3) {
        margin: 2rem 0;
        font-size: 3rem;
        position: fixed;
        top: 33%;
        left: 20%;

    }

    .sect3 p:nth-child(4) {
        margin: 2rem 0;
        font-size: 2rem;
        position: fixed;
        top: 52%;
        left: 11%;

    }

    .sect3 span {
        font-size: 6rem;
        padding: 0 20px;
    }

    .sect4 {
        position: relative;
    }

    .sect4-stats {
        position: absolute;
        top: 55%;
        width: 80%;
        height: 55%;

    }

    .sect4-stats li {
        padding: 20px;
        display: block;
    }

    .sect4-stats li:nth-child(1) {}

    .sect4-stats li:nth-child(2) {
        text-align: center;
    }

    .sect4-stats li:nth-child(3) {
        text-align: right;
    }

    .sect4 .button {
        width: 60%;
    }

    .sect5bgtext {
        position: absolute;
        font-size: 8rem;
        color: #fff;
        right: 8%;
        top: 9%;
    }

    .sect5-wrapper {
        margin-left: 5%;
    }

    .sect5 {
        position: relative;
        overflow: hidden;
    }

    .sect5-contents {
        position: absolute;
        right: 3%;
        bottom: 10%;
        color: #fff;
        z-index: 99;
        text-align: right;
        position: relative;
    }

    .sect5-contents h2 {
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: normal;
    }

    .sect5-wrapper li {
        animation-name: list-ani;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .sect5-wrapper ul:nth-child(even) li {
        animation-direction: reverse;
    }

    .sect5-wrapper img {
        height: 100%;
    }

    @keyframes list-ani {
        0% {
            transform: translateY(0%);
        }

        100% {
            transform: translateY(-100%);
        }
    }

    .footer-menu {
        font-size: 1.5rem;
        position: absolute;
        bottom: 5%;
    }

    .footer-menu li {
        margin: 15% 0;
    }

    .footer-contents {
        justify-content: space-between;
        height: 80%;
    }

    .footer-contents .sns ul {
        position: absolute;
        right: 0;
        top: 10%;
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    .footer-contents .mail {
        position: absolute;
        right: 0;
        bottom: 10%;
        font-size: 1.5rem;
    }

    .footer-contents .mail li {
        margin-top: 10px;
    }

    .footer-contents .sns ul img {
        width: 50%;
        margin: auto;
    }

    footer .copy {
        height: 20%;
        border-top: 1px solid #ffffff;
        width: 90%;
        margin: auto;
        color: #fff;
    }

    footer .copy ul li {
        padding: 10px;
    }



}

/* ------------------pc------------------ */
@media screen and (min-width:981px) {
    .hamburger {
        display: none;
    }

    nav {
        display: block;
        width: 60%;
    }

    .main-menu {
        flex: 1;
    }

    .sect1-contents h2 {
        font-size: 6rem;
    }

    .sect1-contents p,
    .sect2-contents p {
        margin: 50px 0;
        font-size: 1.5rem;
    }

    .sect1-5 {
        position: relative;
    }

    .sect1-5contents {
        position: absolute;
        right: 10%;
        bottom: 20%;
        font-size: 3rem;
        line-height: 5rem;
    }

    .sect1-5 span {
        position: absolute;
        left: 5%;
        top: 10%;
        font-size: 4rem;
        font-weight: bold;
    }

    button {
        font-size: 1.4rem;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        font-size: 18px;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 30px;
    }

    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide figure img {
        width: 1000px;
    }

    .slide figure {
        max-width: 1320px;
    }

    .sect2-t {
        position: absolute;
        top: 68%;
        left: -4%;
        color: #fff;
        z-index: 99;
        transform: rotate(-90deg);
        font-size: 1.3rem;
    }

    .sect2 figcaption {
        position: absolute;
        width: 500px;
        height: 400px;
        background-color: #000000dd;
        color: #ffffff;
        bottom: 10%;
        left: 50%;
        margin-left: 150px;
    }

    .sect2 figcaption p {
        font-size: 1.5rem;
        line-height: 2.3rem;
        margin-top: 20%;
    }

    .sect2 figcaption button {
        margin-top: 8%;
    }

    .donate {
        position: absolute;
        left: auto;
        right: 2%;
        bottom: -5%;
        z-index: 99;
    }

    /* sect3------ */
    .sect3 {
        position: relative;
    }

    .sect3 figure img {
        width: 30%;
        position: relative;
    }

    .sect3 figure img:nth-child(2) {
        float: right;
        margin-top: 15%;
    }

    .sect3 p:nth-child(2) {
        margin: 2.5rem 0;
        font-size: 3rem;
        position: fixed;
        top: 26%;
        left: 30%;

    }

    .sect3 p:nth-child(3) {
        margin: 2.5rem 0;
        font-size: 3rem;
        position: fixed;
        top: 33%;
        left: 40%;

    }

    .sect3 p:nth-child(4) {
        margin: 2.5rem 0;
        font-size: 2rem;
        position: fixed;
        top: 52%;
        left: 39%;
    }

    .sect3 span {
        font-size: 6.5rem;
        padding: 0 20px;
    }

    .sect3 button {}

    .sect4 {
        position: relative;
    }

    .sect4-stats {
        width: 70%;
        position: absolute;
        top: 72%;
    }

    .sect4-stats ul {
        display: flex;
    }

    .sect4-stats ul li {
        flex: 1;
    }

    .sect4 .button {
        width: 40%;
    }

    .sect5 {
        position: relative;
        overflow: hidden;
    }

    .sect5bgtext {
        position: absolute;
        font-size: 10rem;
        color: #fff;
        right: 8%;
        top: 9%;
    }

    .sect5-contents {
        position: absolute;
        right: 10%;
        bottom: 10%;
        color: #fff;
        z-index: 99;
    }

    .sect5-contents h2 {
        margin-bottom: 30px;
        font-size: 3rem;
        font-weight: normal;
    }

    .sect5-wrapper {
        width: 822px;
        display: flex;
        gap: 20px;
        margin-left: 5%;
    }

    .sect5-wrapper li {
        margin-bottom: 20px;
    }

}